@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
.cart{
  position: absolute;
  top: 0px;
  left: 0px;
  
}
.arrow{
position: absolute;
top:10px;
left: 360px;
}
.limg{
  background-image: url('https://source.unsplash.com/Mv9hjnEUHR4/600x800')
}
.nav{
  border-radius: 0 0 50px 50px;
}
.hro{
  background-image: url('/Ecommerce.png');
  background-position: center;
  background-size:cover ;
  background-position-x: right;
 
}
.rad{
  border-radius:10px 0  10px 0;
}
.radd{
  border-radius:20px 20px 0 0;
}
.raddd{
  border-radius:0 0 20px 0;
}
.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
}

.category-item {
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.category-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


